In [21]:
#Import

import json
import pandas as pd
import datetime

df_solfe_X = pd.read_json('data_solfe_X.json')
df_X_solfe = pd.read_json('data_X_solfe.json')


df_solfe_X["Day"] = df_solfe_X["timestamp"].dt.strftime('%A')
df_X_solfe["Day"] = df_X_solfe["timestamp"].dt.strftime('%A')

df_X_solfe["duration_minutes"] = df_X_solfe["duration_minutes"].round(0)
df_solfe_X["duration_minutes"] = df_solfe_X["duration_minutes"].round(0)

In [20]:
df_X_solfe

,timestamp,duration_seconds,duration_minutes,distance_meters,distance_km,base_duration,traffic_delay,Day
0,2025-10-05 15:12:52.076311,2319,39.0,26041,26.041,1921,398,Sunday
1,2025-10-05 15:13:50.542327,2483,41.0,25459,25.459,1840,643,Sunday
2,2025-10-05 15:23:51.033617,2670,44.0,27085,27.085,2066,604,Sunday
3,2025-10-05 15:33:51.549209,2772,46.0,29335,29.335,2021,751,Sunday